<h1>Dashboard</h1>

<dl class="row py-2 rounded my-4 bg-secondary bg-gradient text-light">
  <dt class="col-3 display-5 text-end"><strong>$19,8612</strong></dt>
  <dd class="col-9 d-flex align-items-end">estimated work orders</dd>
  <dt class="col-3 display-6 text-end mt-2"><strong>156</strong></dt>
  <dd class="col-9 d-flex align-items-end mt-2">open work orders</dd>
</dl>


<p>This main screen will eventually show the most important information.</p>
<p>It is intentionally minimal for now.</p>

<h2>Sample Reports</h2>
<ul>
  <li><%= link_to 'All Items', items_path %></li>
  <li><%= link_to 'All Repairs', repairs_path %></li>
  <li><%= link_to 'All Complications', complications_path %></li>
</ul>
