<h1>Ticket Data Entries</h1>

<% @ticket_data_entry_forms.each do |ticket_data_entry_form| %>
  <div class="article">
    <h2><%= link_to ticket_data_entry_form.name, ticket_data_entry_form %></h2>
    <%= pluralize(ticket_data_entry_form.repairs.size, "Repair") %>
  </div>
<% end %>

<p><%= link_to 'New ticket_data_entry', new_ticket_data_entry_path %></p>