<div class="row mb-5">
  <div class="col">
    <h1>Editing Complication <%= @complication.id %></h1>
  </div>
  <div class="col text-end">
    <%= link_to '&laquo Cancel'.html_safe, @complication, class: 'btn btn-outline-primary' %>
  </div>
</div>

<div class="form-container-wide">
  <%= render 'form', complication: @complication, repair: nil, repairs: @repairs, standard_complications: @standard_complications %>
</div>
