<h1>Quickbooks Customer #<%= params["id"] %></h1>
<h2><%= @customer["DisplayName"] %></h2>
<p>Phone Number: <%= @customer.dig("PrimaryPhone", "FreeFormNumber") || "No phone number" %></p>
<p>Address: <%=
if @customer["BillAddr"].nil?
  "No billing address"
else
  addr = @customer.dig("BillAddr")
  "#{addr["Line1"]}, #{addr["City"]} #{addr["CountrySubDivisionCode"]} #{addr["PostalCode"]}"
end
%></p>
