<div class="mb-3">
  <%= f.label :password, class: 'form-label' %>
  <%= f.password_field :password, class: 'form-control' %>
  <small class="form-text text-muted">(6 characters minimum)</small>
</div>
<div class="mb-3">
  <%= f.label :password_confirmation, class: 'form-label' %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
</div>
