<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @complication_type.description %>
</p>

<%= link_to 'Edit', edit_complication_type_path(@complication_type) %> |
<%= link_to 'Back', complication_types_path %>
