<div class="row mb-5">
  <div class="col">
    <h1>New Customer</h1>
  </div>
  <div class="col text-end">
    <%= link_to '&laquo Cancel'.html_safe, :back, class: 'btn btn-outline-primary' %>
  </div>
</div>

<div class="form-container">
  <%= render 'form', customer: @customer, customer_types: @customer_types %>
</div>
