<h1>Dashboard</h1>
<p>This main screen will eventually show the most important information.</p>
<p>It is intentionally blank for now.</p>

<h2>Sample Reports</h2>
<ul>
  <li><%= link_to 'All Items', items_path %></li>
  <li><%= link_to 'All Repairs', repairs_path %></li>
  <li><%= link_to 'All Complications', complications_path %></li>
</ul>
