<h2>Welcome {user}!</h2>

</br>

<ul>
    <li><a href="/customers">Customers</a></li>
    <li><a href="/technicians">Technicians</a></li>
    <li><a href="/invoices">Invoices</a></li>
    <li><a href="/repairs">Repairs</a></li>
  </ul>