<h2>Welcome {user}!</h2>

<br>

<ul>
    <li><a href="/users">Users</a></li>
    <li><a href="/quote_requests">Quote Requests</a></li>
    <li><a href="/tickets">Tickets</a></li>
    <li><a href="/customers">Customers</a></li>
    <li><a href="/technicians">Technicians</a></li>
    <li><a href="/invoices">Invoices</a></li>
    <li><a href="/invoice_items">Invoice Items</a></li>
    <li><a href="/repairs">Repairs</a></li>
    <li><a href="/repair_types">Repair Types</a></li>
    <li><a href="/task_types">Task Types</a></li>
    <li><a href="/tasks">Tasks</a></li>
</ul>

<br>

<a class="btn btn-primary" href="/ticket_data_entries/new" role="button">Add New Ticket</a>