<h2>Intake Management</h2>

</br>

<ul>
    <li><a href="/customers/new">Add New Customer</a></li>
    <li><a href="/customers/new">Add New Work Order (Under Construction)</a></li>
    <li><a href="/customers/new">Add New Item Ticket (Under Construction)</a></li>
</ul>