</br>

<ul>
    <li><a href="/customer_types">Customer Type List</a></li>
    <li><a href="/brands">Brands</a></li>
    <li><a href="/item_statuses">Item Status List</a></li>
    <li><a href="/fees">Fees</a></li>
    <li><a href="/discounts">Discount</a></li>
    <li><a href="/shop_parameters">Shop Parameters</a></li>
    <li><a href="/admin/users">Employees</a></li>
    <li><a href="/accounts">Accounts</a></li>

</ul>