</br>

<ul>
    <li><a href="/customer_types">Customer Type List</a></li>
    <li><a href="/brands">Brands</a></li>
    <li><a href="/item_statuses">Item Status List</a></li>
    <li><a href="/fees">Fees</a></li>
    <li><a href="/discounts">Discount List</a></li>

</ul>