<div class="row mb-5">
  <div class="col">
    <h1>Standard Complications</h1>
  </div>
  <div class="col text-end">
    <%= link_to 'Add New Standard Complication', new_standard_complication_path, class: 'btn btn-outline-primary' %>
  </div>
</div>

<%= render 'table', standard_complications: @standard_complications %>

<%= pagination_nav(@pagy, standard_complications_path(page: @pagy.prev), standard_complications_path(page: @pagy.next)) %>
