<table class="table table-hover" id="fees_table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col" class="text-end">Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% fees.each do |fee| %>
      <tr>
        <th scope="row"><%= fee.position %></th>
        <td><%= link_to fee.standard_fee, fee.standard_fee %></td>
        <td class="text-end"><%= number_to_currency(fee.price) %></td>
        <td class="text-end">
          <%= link_to 'Details', fee_path(fee), class: 'btn btn-outline-secondary btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
