<div class="row mb-5">
  <div class="col">
    <h1>Work Orders</h1>
  </div>
  <div class="col text-end">
    <%= link_to 'Create New Work Order', new_work_order_path, class: 'btn btn-outline-primary' %>
  </div>
</div>

<%= render 'table', work_orders: @work_orders %>

<%= pagination_nav(@pagy, work_orders_path(page: @pagy.prev), work_orders_path(page: @pagy.next)) %>
