<div class="row mb-5">
  <div class="col">
    <h1>Editing Repair <%= @repair.id %></h1>
  </div>
  <div class="col text-end">
    <%= link_to '&laquo Cancel'.html_safe, @repair, class: 'btn btn-outline-primary' %>
  </div>
</div>

<div class="form-container-wide">
  <%= render 'form', repair: @repair, item: nil, standard_repairs: @standard_repairs  %>
</div>
